

.mygridcontainer {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    grid-gap: 5px;

}


.static {
  position:absolute;
  background: lightblue;
}

.static:hover {
  opacity:0;
}


