{% extends "layout.html" %}
{% block title %}Add a product{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
  <div>
    <form action="/submitproduct" method="POST">
      <label for="productname">Product Name:</label><br>
      <input type="text" id="productname" name="productname"><br><br>
      <label for="price">Price:</label><br>
      <input type="text" id="price" name="price"><br><br>
      <label for="pictureurl">Link to image:</label><br>
      <input type="text" id="pictureurl" name="pictureurl"><br><br>
      <label for="description">Product description:</label><br>
      <input type="text" id="description" name="description"><br><br>
      <button><a>Submit</a></button><br>

    </form>

  </div>
{% endblock %}





