{% extends "layout.html" %}
{% block title %}Add a product{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
  <div>
    <br>
    <form action="/submitproduct" method="POST">
      <label for="productname" class="form-label">Product Name:</label><br>
      <input type="text" class="form-control" id="productname" name="productname"><br>
      <label for="price" class="form-label">Price:</label><br>
      <input type="text" class="form-control" id="price" name="price"><br>
      <label for="pictureurl" class="form-label">Link to image:</label><br>
      <input type="text" class="form-control" id="pictureurl" name="pictureurl"><br>
      <label for="description" class="form-label">Product description:</label><br>
      <input type="text" class="form-control" id="description" name="description"><br>
      <button class="btn btn-primary"><a>Submit</a></button><br>

    </form>

  </div>
{% endblock %}





