{% extends "layout.html" %}


{% block title %}Create User{% endblock %}


{% block head %}
  {{ super() }}


{% endblock %}



{% block content %}

  <div>
    <br>
    <h1>Create account</h1>
    <div class="shadow p-3 mb-5 bg-body rounded">
      <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control" ) }}
        <br>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control" ) }}

        {% if form.email.errors %}
        <ul class="errors">
        {% for error in form.email.errors %}
            <li style="list-style-type: none; color: red">{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <br>

        {{ form.password_hash.label(class="form-label") }}
        {{ form.password_hash(class="form-control" ) }}

        {% if form.password_hash.errors %}
        <ul class="errors">
        {% for error in form.password_hash.errors %}
            <li style="list-style-type: none; color: red">{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <br>
        {{ form.password_hash2.label(class="form-label") }}
        {{ form.password_hash2(class="form-control" ) }}

        <br>
        {{ form.address.label(class="form-label") }}
        {{ form.address(class="form-control" ) }}
        <br>
        {{ form.postal_code.label(class="form-label") }}
        {{ form.postal_code(class="form-control" ) }}
        <br>
        {{ form.city.label(class="form-label") }}
        {{ form.city(class="form-control" ) }}
        <br>
        {{ form.country.label(class="form-label") }}
        {{ form.country(class="form-control" ) }}
        <br>
        {{ form.submit(class="btn btn-primary") }}

      </form>
    </div>

  </div>
{% endblock %}