{% extends "layout.html" %}


{% block title %} Dashboard {% endblock %}


{% block head %}
  {{ super() }}

{% endblock %}

{% block content %}

<!-- add product this user posted -->

<h1>Dashboard</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
  <h2>User details</h2>
  <strong>Username: </strong> {{ current_user.username }} <br>
  <strong>Email: </strong> {{ current_user.email }} <br>
  <strong>Address: </strong> {{ current_user.address }} <br>
  <strong>Postal code: </strong> {{ current_user.postal_code }} <br>
  <strong>City: </strong> {{ current_user.city }} <br>
  <strong>Country: </strong> {{ current_user.country }} <br>
  <strong>Date created:</strong> {{ current_user.created_at.date() }} <br>
  <br>
  <a href="{{url_for('logout')}}" class="btn btn-primary">Logout</a>
  <a href="{{url_for('update_user', id=current_user.id)}}" class="btn btn-warning">Edit Account</a>
  <a href="{{url_for('delete_user', id=current_user.id)}}" class="btn btn-danger float-end">Delete Account</a>
</div>


{% if order_items %}
<H2>Your orders</H2>

{% for list in order_items %}
<!-- shoppingcart recycled -->
<section class="h-100 h-custom" >
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card shopping-cart" style="border-radius: 15px;">
          <div class="card-body text-black">

            <div class="row">
              <div class="col-lg-6 px-5 py-4">

                <h4 class="mb-5 pt-2 text-center fw-bold text-uppercase">Date ordered: {{ list[0].orders.created_at.date() }} </h4>

                {% for item in list %}

                <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                    <img src="{{item.product.image_url}}"
                      class="img-fluid" style="width: 150px;" alt="Generic placeholder image">
                  </div>
                  <div class="flex-grow-1 ms-3">

                    <h5 class="text-primary">{{ item.product.name }}</h5>
                    <!-- subtitle
                    <h6 style="color: #9e9e9e;">Color: white</h6>
                    -->
                    <div class="d-flex align-items-center">
                      <p class="fw-bold mb-0 me-5 pe-3">€{{'%.2f' % item.product.price }}</p>
                      <div class="def-number-input number-input ">
                        Quantity: {{item.quantity}}
                      </div>
                    </div>
                  </div>
                </div>

                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endfor %}

{% else %}
You haven't ordered anything yet!

{% endif %}




{% endblock %}