{% extends "layout.html" %}


{% block title %} Dashboard {% endblock %}


{% block head %}
  {{ super() }}

{% endblock %}

{% block content %}
<br>
{% for message in get_flashed_messages() %}

  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}

<h1>Dashboard</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
  <h2>User details</h2>
  <strong>Username: </strong> {{ current_user.username }} <br>
  <strong>Email: </strong> {{ current_user.email }} <br>
  <strong>Address: </strong> {{ current_user.address }} <br>
  <strong>Postal code: </strong> {{ current_user.postal_code }} <br>
  <strong>City: </strong> {{ current_user.city }} <br>
  <strong>Country: </strong> {{ current_user.country }} <br>
  <strong>Date created:</strong> {{ current_user.created_at.date() }} <br>
  <br>
  <a href="{{url_for('logout')}}" class="btn btn-primary">Logout</a>
  <a href="{{url_for('update_user', id=current_user.id)}}" class="btn btn-warning">Edit Account</a>
  <a href="{{url_for('delete_user', id=current_user.id)}}" class="btn btn-danger float-end">Delete Account</a>
</div>


{% endblock %}