{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}

<br>
{% for message in get_flashed_messages() %}

  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}

  <br>

    <h2>Products</h2>
    <div class="mygridcontainer">
      {% for product in products %}

      <div class="card " style="width: 18rem;">
        <img src={{product.image_url}} class="card-img-top" alt="cube image" style="max-height:250px;max-width:250px; display: block; margin-left:auto; margin-right:auto; height:auto;width:auto;">
        <div class="card-header"><h5 style="text-align: center">{{product.name}}</h5></div>
        <div class="card-body">
          <p style=" --max-lines: 3; --line-height: 1.4; max-height: calc(var(--max-lines) * 1em * var(--line-height)); line-height: var(--line-height); text-overflow: ellipsis; overflow: hidden; " >{{product.description}}</p>
          <p> <strong>Price: </strong>€{{'%.2f' % product.price }}</p>
          <a href="{{ url_for('show_detail',target_id=product['id']) }}" class="btn btn-primary float-end ">Details</a>
        </div>
      </div>

      {% endfor %}
    </div>

{% endblock %}