{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}
<br>
{% for message in get_flashed_messages() %}

  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}



  <br>

    <h2>Products</h2>
    <div class="mygridcontainer">
      {% for product in products %}
        <a href="{{ url_for('show_detail',target_id=product['id']) }}" style="text-decoration: none; " >
          <div class="mygriditem">
            <img src={{product.image_url}} alt="picture of a cube" width="300" height="300">
            <p><strong>Product name</strong>: {{product['name']}}</p>
            <p><strong>Price</strong>: €{{'%.2f' % product['price'] }}</p>
          </div>
        </a>
      {% endfor %}
    </div>

{% endblock %}