{% extends "layout.html" %}
{% block title %}Product Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
<br>
{% for message in get_flashed_messages() %}

  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}


<h1>Product Details</h1>

 <div class="mygriditem">
     <h1><strong>{{product['name']}}</strong></h1>
     <img src={{product.image_url}} alt="picture of a cube" style="max-height:300px;max-width:250px;height:auto;width:auto;">

     <p><strong>Price:</strong> €{{'%.2f' % product.price}}</p>
     <p><strong>Description: </strong>{{product.description}} </p>
     <p><strong>Added by user: </strong>{{ product.user.username }}</p>
     <p><strong>Posted at: </strong>{{product.created_at }} </p>
     {% if current_user.is_authenticated %}
     <a class="btn btn-primary" href="{{ url_for('update_product', id=product.id)}}"> Edit </a>

     {% endif %}

 </div>
{% endblock %}

